.blogWrapper {
  width: 100%;
  padding: 2%;
}

figure {
  width: 100%;
  margin: 1%;
  height: 100%;

  @include mediaQ(tablet) {
    width: calc(100% / 2 - 4%);
  }
}

img {
  width: 100%;
}

.imgBlock {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include mediaQ(tablet) {
    flex-direction: row;
  }
}

.codeBlock figure {
  width: 100%;
  margin: 1%;
  height: 100%;
  margin: 5% 0;
}

ol li {
  list-style: decimal;
}

pre,
code {
  width: 90vw;
  max-width: 1200px;
  color: white;
  overflow: scroll;
}

header {
  height: 35vh;
  display: flex;
  justify-content: center;
  background-image: url(../assets/images/background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;

  @include mediaQ(tablet) {
    height: 60vh;
  }
}

.titleH1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10vh;

  @include mediaQ(tablet) {
    width: calc((100% * 0.5) - 1%);
    justify-content: flex-start;
    margin: 0px 8%;
    padding-top: 4vh;
  }
}

.sectionNavSocialSlider {
  height: 13vh;
  width: 100%;

  @include mediaQ(tablet) {
    height: 5vh;
  }
}

main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  // height: 45vh;

  section {
    @include mediaQ(tablet) {
      width: calc((100% / 2) - 4%);
      margin: 2%;
    }
  }
}

.portfolioFlexContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectContainer {
  margin: 0 2%;
  width: calc((100% / 2) - 4%);
}

footer {
  height: 5vh;
  width: 100%;
}
