header {

  height: 40vh;
  max-height: 45vh;
  width: 100vw;
  display: flex;
  justify-content: center;

  background-image: url(/assets/images/background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;


  h1 {
    display: flex;
    padding-top: 5vh;
  }

}

.landingMain {
  height: 55vh;
  width: 100%;
}

footer {

  height: 5vh;
  width: 100%;
}