nav {

  @include mediaQ(tablet) {
    display: flex;
    // justify-content: space-between;
    margin: 3%;
    height: 10%;
    width: 100%;
  }
}


nav label {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  padding: 5%;
}

nav label:hover,
nav label:focus {
  color: white;
  cursor: pointer;
}

nav label:active {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
}

.navMenu {
  flex-direction: column;
  position: absolute;
  z-index: 10;
  width: 80vw;
  left: -100%;
  top: 1rem;
  transition: all 0.5s;
  text-align: left;

  @include mediaQ(tablet) {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
  }

  .social {
    @include mediaQ(tablet) {
      justify-content: flex-end;
    }
  }
}

.navMenu li {
  margin: 3% 5%;

  @include mediaQ(tablet) {
    float: left;
    margin: 0 2%;
  }
}



.navMenu a {
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.navMenu a:hover,
.navMenu a:focus {
  border-bottom: 2px solid grey;
}

.navMenu a:active {
  position: relative;
  top: 2px;
}

input[type="checkbox"]:checked+.navMenu {
  left: 0;
}

input[type="checkbox"] {
  display: none;
}

nav label,
#hamburger {

  @include mediaQ(tablet) {
    display: none;
  }
}