// fullscreen navigation hidden in mobile view
.headerNavSocialBar {
  // #fullNav .navMenu 
  display: none;

  // fullscreen nav engaged
  @include mediaQ(tablet) {
    display: flex;
    margin: 3%;
    height: 10%;
    width: calc((100% * 0.4) - 1%);
  }
}

.socialIcons {
  bottom: 0;
  right: 0;
  margin: 2%; 

  li {
    padding: 40% 0;
  }
}

.mobileNav .navMenu {

  @include mediaQ(tablet) {
    display: none;
  }
}

// slideout contains nav and social
.slideOut {
  background: black;
  position: absolute;
  z-index: 10;
  width: 100vw;
  left: -100vw;
  top: 4rem;
  transition: all 0.5s;
  text-align: left;
}

// label trigger for slideout
.sectionNavSocialSlider label {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  padding: 5%;
}

.sectionNavSocialSlider label:hover,
.sectionNavSocialSlider label:focus {
  color: white;
  cursor: pointer;
}

.sectionNavSocialSlider label:active {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
}

// navigation positioning
.navMenu {
  flex-direction: column;

  @include mediaQ(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
  }
}

.slideOut {
  .social {
    width: 80vw;
    height: calc((100 / 2) - 1%);

    @include mediaQ(tablet) {
      display: none;
    }
  }
}

.navMenu li,
.social li {
  margin: 3% 2%;

  // @include mediaQ(tablet) {
  //   float: left;
  //   margin: 0 2%;
  // }
}

.navMenu a {
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.navMenu a:hover,
.navMenu a:focus {
  border-bottom: 2px solid grey;
}

.navMenu a:active {
  position: relative;
  top: 2px;
}

input[type="checkbox"]:checked~.slideOut {
  left: 0;
}

input[type="checkbox"] {
  display: none;
}

.sectionNavSocialSlider label,
#hamburger {

  @include mediaQ(tablet) {
    display: none;
  }
}


// social icons