h1 {
  font-family: 'Anonymous Pro', monospace;
  font-size: createVW($h1FontSize);
  color: white;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: createREM($h2FontSize);
  color: white;
}

.navMenu a {
  font-family: 'Roboto Slab', serif;
  font-size: createREM($navFontSize);
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

label,
input {
  color: white;
  font-size: createREM($labelFontSize);
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: createVW($bodyFontSize);
  color: white;
}

footer p {
  font-size: createREM($bodyFontSize * 0.35);
}


@include mediaQ(tablet) {

  h2 {font-size: createREM($h2FontSize * 0.4);}
  .navMenu a {font-size: createREM($navFontSize * 0.6);}
  p {font-size: createREM($bodyFontSize * 0.6);}
  footer p {font-size: createREM($bodyFontSize * 0.4);}
}