// wrapper width
$maxWidth: 1200;

// font-size

$h1FontSize: 70;
$h2FontSize: 80;
$h3FontSize: 60;
$h4FontSize: 50;
$h5FontSize: 30;
$bodyFontSize: 16;
$aTagFontSize: 16;
$navFontSize: 24;
$labelFontSize: 24;
$captionFontSize: 10;